* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", serif;
    font-size: 16px;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
}

#editor {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 35px;
    outline: 0;
    width: 100%;
    padding: 2px;
    border: none;
    background-color: #282a36;
    color: #eee;
    line-height: 1.5;
    resize: none;
}

.div_terminal {
    padding: 8px 20px;
    cursor: pointer;
    background-color: #44475a;
    transition: 1s all;
}

.div_terminal:hover {
    background-color: #707070;
}

.div_status_bar {
    display: flex;
}

#status_bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    user-select: none;
    background-color: #44475a;
    color: #eee;
}

#status_bar_terminal {
    display: none;
    justify-content: space-between;
    cursor: ns-resize;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 235px;
    width: 100%;
    height: 30px;
    background-color: #44475a;
    padding: 4px 0;
    font-size: 20px;
    user-select: none;
    color: #fff;
}

#status_bar_terminal i {
    cursor: pointer;
    padding: 0 10px;
    font-weight: 500;
    font-size: 24px;
}

#terminal {
    display: none;
    position: fixed;
    left: 0;
    bottom: 35px;
    right: 0;
    height: 200px;
    padding: 5px 25px 5px 5px;
    width: 101%;
    outline: none;
    resize: none;
    background-color: #696969;
    border: none;
    color: #fff;
}